<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
    <div class="container jumbotron " style="width: 40em; ">
    <form method="POST" action="{{ url_for('question') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control") }}
            {% if errors.title %}
                <span class="text-danger">{{ errors.title|join(', ') }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {{ form.content(class="form-control form-control") }}
            {% if errors.content %}
                <span class="text-danger">{{ errors.content|join(', ') }}</span>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div id="questions-container" class="mt-4">
        <h2>Submitted Questions</h2>
        {% if questions %}
            <ul class="list-group">
                {% for question in questions %}
                    <li class="list-group-item">
                        <h5>{{ question.title }}</h5>
                        <p>{{ question.content }}</p>
                        <small>Posted by {{ question.author }} on {{ question.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No questions have been posted yet.</p>
        {% endif %}
    </div>
{% endblock %}


